{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Profile list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Dob</th>
                <th>Location</th>
                <th>Registeredparty</th>
                <th>Preferredparty</th>
                <th>District</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('profile_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.address }}</td>
                <td>{% if entity.dob %}{{ entity.dob|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.registeredParty }}</td>
                <td>{{ entity.preferredParty }}</td>
                <td>{{ entity.district }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('profile_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('profile_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('profile_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
